#intro
{
    color: white;
    background-color: grey; 
    position: top;

}

footer {
    text-align: center;
    padding: 3px;
    background-color: #f5f5f5;
    color: darkgrey;
    

  }